# Data Indexing and Selection

## Data Selection in Series - Part 1

How to access the data when Series acts as dictionary?

In [1]:
import pandas as pd

In [2]:
data = pd.Series([10, 20, 30, 40, 50], index = ['A', 'B', 'C', 'D', 'E'])
data

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [3]:
data['A']

10

In [4]:
'A' in data

True

In [5]:
pd.Series.keys?

Signature: pd.Series.keys(self) -> 'Index'
Docstring:
Return alias for index.

Returns
-------
Index
    Index of the Series.

Examples
--------
>>> s = pd.Series([1, 2, 3], index=[0, 1, 2])
>>> s.keys()
Index([0, 1, 2], dtype='int64')
File:      c:\users\abbas\miniconda3\envs\hugging_face\lib\site-packages\pandas\core\series.py
Type:      function

In [6]:
data.keys()

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [7]:
pd.Series.items?

Signature: pd.Series.items(self) -> 'Iterable[tuple[Hashable, Any]]'
Docstring:
Lazily iterate over (index, value) tuples.

This method returns an iterable tuple (index, value). This is
convenient if you want to create a lazy iterator.

Returns
-------
iterable
    Iterable of tuples containing the (index, value) pairs from a
    Series.

See Also
--------
DataFrame.items : Iterate over (column name, Series) pairs.
DataFrame.iterrows : Iterate over DataFrame rows as (index, Series) pairs.

Examples
--------
>>> s = pd.Series(['A', 'B', 'C'])
>>> for index, value in s.items():
...     print(f"Index : {index}, Value : {value}")
Index : 0, Value : A
Index : 1, Value : B
Index : 2, Value : C
File:      c:\users\abbas\miniconda3\envs\hugging_face\lib\site-packages\pandas\core\series.py
Type:      function

In [8]:
print(data.items());

<zip object at 0x0000014841BE6200>

In [9]:
print(list(data.items()))

[('A', 10), ('B', 20), ('C', 30), ('D', 40), ('E', 50)]

In [10]:
data['A'] = 45
data

A    45
B    20
C    30
D    40
E    50
dtype: int64

## Data Selection in Series - Part 2

#### How to access the data when Series acts as one-dimensional array?

In [11]:
print(data)
print(data['A':'D'])

A    45
B    20
C    30
D    40
E    50
dtype: int64
A    45
B    20
C    30
D    40
dtype: int64

In [12]:
print(data)
print(data[0:4])

A    45
B    20
C    30
D    40
E    50
dtype: int64
A    45
B    20
C    30
D    40
dtype: int64

In [13]:
data[(data > 20) & (data < 50)]

A    45
C    30
D    40
dtype: int64

In [14]:
data[['A', 'E']]

A    45
E    50
dtype: int64

## Indexers loc and iloc

In [15]:
data

A    45
B    20
C    30
D    40
E    50
dtype: int64

In [16]:
data[1:3]

B    20
C    30
dtype: int64

In [17]:
data['B':'D']

B    20
C    30
D    40
dtype: int64

In [18]:
idata = pd.Series(['a', 'b', 'c', 'd', 'e', 'f'], index=[1, 3, 4, 5, 6, 7])
idata

1    a
3    b
4    c
5    d
6    e
7    f
dtype: object

In [19]:
idata[1]

'a'

In [20]:
idata[1:4]

3    b
4    c
5    d
dtype: object

In [21]:
pd.Series.loc?

Type:        property
String form: <property object at 0x0000014841587C90>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- An alignable boolean Series. The index of the key will be aligned before
  masking.
- An alignable Index. The Index of the returned selection will be the input.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`.

Raises
------
KeyError
    If any items are not found.
IndexingError
    If an indexed key is passed and its index is unalignable to the frame index.

See Also
--------
DataFrame.at : Access a single value for a row/column label pair.
DataFrame.iloc : Access group of rows and columns by integer position(s).
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
               Series/DataFrame.
Series.loc : Access group of values using labels.

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=['cobra', 'viper', 'sidewinder'],
...                   columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Alignable boolean Series:

>>> df.loc[pd.Series([False, True, False],
...                  index=['viper', 'sidewinder', 'cobra'])]
                     max_speed  shield
sidewinder          7       8

Index (same behavior as ``df.reindex``)

>>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
       max_speed  shield
foo
cobra          1       2
viper          4       5

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Multiple conditional using ``&`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
            max_speed  shield
viper          4       5

Multiple conditional using ``|`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
            max_speed  shield
cobra               1       2
sidewinder          7       8

Please ensure that each condition is wrapped in parentheses ``()``.
See the :ref:`user guide<indexing.boolean>`
for more details and explanations of Boolean indexing.

.. note::
    If you find yourself using 3 or more conditionals in ``.loc[]``,
    consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

    See below for using ``.loc[]`` on MultiIndex DataFrames.

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

Add value matching location

>>> df.loc["viper", "shield"] += 5
>>> df
            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
index labels, not the index positions.

>>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
>>> df.loc[:] += shuffled_df
>>> df
            max_speed  shield
cobra              60      20
viper               0      10
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...     ('cobra', 'mark i'), ('cobra', 'mark ii'),
...     ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...     ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...           [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Please see the :ref:`user guide<advanced.advanced_hierarchical>`
for more details and explanations of advanced indexing.

In [22]:
idata.loc[1]

'a'

In [23]:
print(idata)
idata.loc[1:4]

1    a
3    b
4    c
5    d
6    e
7    f
dtype: object

1    a
3    b
4    c
dtype: object

In [24]:
idata.loc[1:6]

1    a
3    b
4    c
5    d
6    e
dtype: object

In [25]:
print(idata)
print(idata[3:6])        # implicit index without loc : also final index is excluded
print(idata.loc[3:6])    # explicit index with loc : also final index is included

1    a
3    b
4    c
5    d
6    e
7    f
dtype: object
5    d
6    e
7    f
dtype: object
3    b
4    c
5    d
6    e
dtype: object

In [26]:
pd.Series.iloc?

Type:        property
String form: <property object at 0x0000014841617650>
Docstring:
Purely integer-location based indexing for selection by position.

.. deprecated:: 2.2.0

   Returning a tuple from a callable is deprecated.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above).
  This is useful in method chains, when you don't have a reference to the
  calling object, but would like to base your selection on
  some value.
- A tuple of row and column indexes. The tuple elements consist of one of the
  above inputs, e.g. ``(0, 1)``.

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`.

See Also
--------
DataFrame.iat : Fast integer location scalar accessor.
DataFrame.loc : Purely label-location based indexer for selection by label.
Series.iloc : Purely integer-location based indexing for
               selection by position.

Examples
--------
>>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
>>> df = pd.DataFrame(mydict)
>>> df
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

**Indexing just the rows**

With a scalar integer.

>>> type(df.iloc[0])
<class 'pandas.core.series.Series'>
>>> df.iloc[0]
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

With a list of integers.

>>> df.iloc[[0]]
   a  b  c  d
0  1  2  3  4
>>> type(df.iloc[[0]])
<class 'pandas.core.frame.DataFrame'>

>>> df.iloc[[0, 1]]
     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a `slice` object.

>>> df.iloc[:3]
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

With a boolean mask the same length as the index.

>>> df.iloc[[True, False, True]]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

With a callable, useful in method chains. The `x` passed
to the ``lambda`` is the DataFrame being sliced. This selects
the rows whose index label even.

>>> df.iloc[lambda x: x.index % 2 == 0]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

**Indexing both axes**

You can mix the indexer types for the index and columns. Use ``:`` to
select the entire axis.

With scalar integers.

>>> df.iloc[0, 1]
2

With lists of integers.

>>> df.iloc[[0, 2], [1, 3]]
      b     d
0     2     4
2  2000  4000

With `slice` objects.

>>> df.iloc[1:3, 0:3]
      a     b     c
1   100   200   300
2  1000  2000  3000

With a boolean array whose length matches the columns.

>>> df.iloc[:, [True, False, True, False]]
      a     c
0     1     3
1   100   300
2  1000  3000

With a callable function that expects the Series or DataFrame.

>>> df.iloc[:, lambda df: [0, 2]]
      a     c
0     1     3
1   100   300
2  1000  3000

In [27]:
print(idata)
print(idata.iloc[1])     # implicit 
print()
print(idata[1])          # this is explicit index which is equivalent to idata.loc[1]
print()
print(idata.loc[1])      # explicit

1    a
3    b
4    c
5    d
6    e
7    f
dtype: object
b

a

a

In [28]:
idata.iloc[1:4]

3    b
4    c
5    d
dtype: object

In [29]:
print(idata)
print(idata[3:6])         # implicit index without loc : also final index is excluded
print(idata.iloc[3:6])    # iloc works like implicit index so iloc is meant for implicit index preservation

1    a
3    b
4    c
5    d
6    e
7    f
dtype: object
5    d
6    e
7    f
dtype: object
5    d
6    e
7    f
dtype: object

In [ ]:
# Without loc
# Make a Note: --> # explicit index when indexing 
#              --> # implicit index when slicing
# With loc
# --> # The 'loc' attribute allows indexing and slicing that always references the explicit index.
# With iloc
# --> # The 'iloc' attribute on the other hand allows indexing and slicing that always references implicit Python-style index

## Data Selection in DataFrame

#### DataFrame as a dictionary

In [30]:
import pandas as pd

In [31]:
states_capitals = {'Karnataka':'Bangalore', 'Andrapradesh':'Hyderabad', 'Tamilnadu':'Chennai', 
                   'Keral':'Thiruvanathapuram', 'Maharastra':'Mumbai'}

In [32]:
states_lang = {'Karnataka':'Kannada', 'Andrapradesh':'Telugu', 'Tamilnadu':'Tamil', 'Kerala':'Malayalam', 
              'Maharastra':'hindi', 'Panjab':'Panjabi'}

In [33]:
data = pd.DataFrame({'capitals': states_capitals, 'language': states_lang})
data

                       capitals   language
Karnataka             Bangalore    Kannada
Andrapradesh          Hyderabad     Telugu
Tamilnadu               Chennai      Tamil
Keral         Thiruvanathapuram        NaN
Maharastra               Mumbai      hindi
Kerala                      NaN  Malayalam
Panjab                      NaN    Panjabi

In [34]:
data['capitals']

Karnataka               Bangalore
Andrapradesh            Hyderabad
Tamilnadu                 Chennai
Keral           Thiruvanathapuram
Maharastra                 Mumbai
Kerala                        NaN
Panjab                        NaN
Name: capitals, dtype: object

In [35]:
data.capitals

Karnataka               Bangalore
Andrapradesh            Hyderabad
Tamilnadu                 Chennai
Keral           Thiruvanathapuram
Maharastra                 Mumbai
Kerala                        NaN
Panjab                        NaN
Name: capitals, dtype: object

In [36]:
data['capitals'] is data.capitals

True

In [37]:
s_sub = pd.Series({'Pruthvi': 'Kannada', 'Pranam': 'Hindi', 'Pratham':'English', 'Pravera':'Maths', 'Prabu':'Science'})
total_m = pd.Series({'Pruthvi': 60, 'Pranam': 60, 'Pratham':60, 'Pravera':60, 'Prabu':60})
minf_m = pd.Series({'Pruthvi': 30, 'Pranam': 30, 'Pratham':30, 'Pravera':30, 'Prabu':30})
obt_m = pd.Series({'Pruthvi': 25, 'Pranam': 35, 'Pratham':40, 'Pravera':60, 'Prabu':55})

students_d = pd.DataFrame({'Sub' : s_sub, 'T_m' : total_m, 'Min_m' : minf_m, 'O_m' : obt_m})
students_d

             Sub  T_m  Min_m  O_m
Pruthvi  Kannada   60     30   25
Pranam     Hindi   60     30   35
Pratham  English   60     30   40
Pravera    Maths   60     30   60
Prabu    Science   60     30   55

In [38]:
students_d['score'] = students_d['O_m'] / students_d['T_m']
students_d

             Sub  T_m  Min_m  O_m     score
Pruthvi  Kannada   60     30   25  0.416667
Pranam     Hindi   60     30   35  0.583333
Pratham  English   60     30   40  0.666667
Pravera    Maths   60     30   60  1.000000
Prabu    Science   60     30   55  0.916667

In [39]:
students_d['mp_score'] = students_d['Min_m'] / students_d['T_m']
students_d

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

#### DataFrame as two-dimensional array

In [40]:
print(students_d)
students_d.values

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

array([['Kannada', 60, 30, 25, 0.4166666666666667, 0.5],
       ['Hindi', 60, 30, 35, 0.5833333333333334, 0.5],
       ['English', 60, 30, 40, 0.6666666666666666, 0.5],
       ['Maths', 60, 30, 60, 1.0, 0.5],
       ['Science', 60, 30, 55, 0.9166666666666666, 0.5]], dtype=object)

In [ ]:
pd.DataFrame.T?

In [41]:
students_d.T

           Pruthvi    Pranam   Pratham Pravera     Prabu
Sub        Kannada     Hindi   English   Maths   Science
T_m             60        60        60      60        60
Min_m           30        30        30      30        30
O_m             25        35        40      60        55
score     0.416667  0.583333  0.666667     1.0  0.916667
mp_score       0.5       0.5       0.5     0.5       0.5

In [42]:
students_d.values[0]

array(['Kannada', 60, 30, 25, 0.4166666666666667, 0.5], dtype=object)

In [43]:
students_d.values[1]

array(['Hindi', 60, 30, 35, 0.5833333333333334, 0.5], dtype=object)

In [44]:
students_d['score']

Pruthvi    0.416667
Pranam     0.583333
Pratham    0.666667
Pravera    1.000000
Prabu      0.916667
Name: score, dtype: float64

In [45]:
students_d['T_m']

Pruthvi    60
Pranam     60
Pratham    60
Pravera    60
Prabu      60
Name: T_m, dtype: int64

In [46]:
students_d

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

In [47]:
students_d[1:3]

             Sub  T_m  Min_m  O_m     score  mp_score
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5

In [48]:
students_d['Pranam':'Pravera']

             Sub  T_m  Min_m  O_m     score  mp_score
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5

#### Accessing DF Objects Using loc, iloc, and ix

In [49]:
 pd.DataFrame.loc?

Type:        property
String form: <property object at 0x0000014841587C90>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- An alignable boolean Series. The index of the key will be aligned before
  masking.
- An alignable Index. The Index of the returned selection will be the input.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`.

Raises
------
KeyError
    If any items are not found.
IndexingError
    If an indexed key is passed and its index is unalignable to the frame index.

See Also
--------
DataFrame.at : Access a single value for a row/column label pair.
DataFrame.iloc : Access group of rows and columns by integer position(s).
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
               Series/DataFrame.
Series.loc : Access group of values using labels.

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=['cobra', 'viper', 'sidewinder'],
...                   columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Alignable boolean Series:

>>> df.loc[pd.Series([False, True, False],
...                  index=['viper', 'sidewinder', 'cobra'])]
                     max_speed  shield
sidewinder          7       8

Index (same behavior as ``df.reindex``)

>>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
       max_speed  shield
foo
cobra          1       2
viper          4       5

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Multiple conditional using ``&`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
            max_speed  shield
viper          4       5

Multiple conditional using ``|`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
            max_speed  shield
cobra               1       2
sidewinder          7       8

Please ensure that each condition is wrapped in parentheses ``()``.
See the :ref:`user guide<indexing.boolean>`
for more details and explanations of Boolean indexing.

.. note::
    If you find yourself using 3 or more conditionals in ``.loc[]``,
    consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

    See below for using ``.loc[]`` on MultiIndex DataFrames.

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

Add value matching location

>>> df.loc["viper", "shield"] += 5
>>> df
            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
index labels, not the index positions.

>>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
>>> df.loc[:] += shuffled_df
>>> df
            max_speed  shield
cobra              60      20
viper               0      10
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...     ('cobra', 'mark i'), ('cobra', 'mark ii'),
...     ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...     ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...           [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Please see the :ref:`user guide<advanced.advanced_hierarchical>`
for more details and explanations of advanced indexing.

In [50]:
pd.DataFrame.iloc?

Type:        property
String form: <property object at 0x0000014841617650>
Docstring:
Purely integer-location based indexing for selection by position.

.. deprecated:: 2.2.0

   Returning a tuple from a callable is deprecated.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above).
  This is useful in method chains, when you don't have a reference to the
  calling object, but would like to base your selection on
  some value.
- A tuple of row and column indexes. The tuple elements consist of one of the
  above inputs, e.g. ``(0, 1)``.

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`.

See Also
--------
DataFrame.iat : Fast integer location scalar accessor.
DataFrame.loc : Purely label-location based indexer for selection by label.
Series.iloc : Purely integer-location based indexing for
               selection by position.

Examples
--------
>>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
>>> df = pd.DataFrame(mydict)
>>> df
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

**Indexing just the rows**

With a scalar integer.

>>> type(df.iloc[0])
<class 'pandas.core.series.Series'>
>>> df.iloc[0]
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

With a list of integers.

>>> df.iloc[[0]]
   a  b  c  d
0  1  2  3  4
>>> type(df.iloc[[0]])
<class 'pandas.core.frame.DataFrame'>

>>> df.iloc[[0, 1]]
     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a `slice` object.

>>> df.iloc[:3]
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

With a boolean mask the same length as the index.

>>> df.iloc[[True, False, True]]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

With a callable, useful in method chains. The `x` passed
to the ``lambda`` is the DataFrame being sliced. This selects
the rows whose index label even.

>>> df.iloc[lambda x: x.index % 2 == 0]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

**Indexing both axes**

You can mix the indexer types for the index and columns. Use ``:`` to
select the entire axis.

With scalar integers.

>>> df.iloc[0, 1]
2

With lists of integers.

>>> df.iloc[[0, 2], [1, 3]]
      b     d
0     2     4
2  2000  4000

With `slice` objects.

>>> df.iloc[1:3, 0:3]
      a     b     c
1   100   200   300
2  1000  2000  3000

With a boolean array whose length matches the columns.

>>> df.iloc[:, [True, False, True, False]]
      a     c
0     1     3
1   100   300
2  1000  3000

With a callable function that expects the Series or DataFrame.

>>> df.iloc[:, lambda df: [0, 2]]
      a     c
0     1     3
1   100   300
2  1000  3000

In [52]:
 pd.DataFrame.ix?

Object `pd.DataFrame.ix` not found.

In [51]:
print(students_d)

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

In [53]:
students_d.iloc[0:3, 0:2]

             Sub  T_m
Pruthvi  Kannada   60
Pranam     Hindi   60
Pratham  English   60

In [54]:
print(students_d)
students_d.iloc[2:5, 2:]

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

         Min_m  O_m     score  mp_score
Pratham     30   40  0.666667       0.5
Pravera     30   60  1.000000       0.5
Prabu       30   55  0.916667       0.5

In [55]:
print(students_d)
students_d.loc[:, :]

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

In [56]:
print(students_d)
students_d.loc[:'Pravera', 'O_m':]

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

         O_m     score  mp_score
Pruthvi   25  0.416667       0.5
Pranam    35  0.583333       0.5
Pratham   40  0.666667       0.5
Pravera   60  1.000000       0.5

In [57]:
print(students_d)
students_d.loc['Pranam':'Pravera', 'T_m':'score']

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

         T_m  Min_m  O_m     score
Pranam    60     30   35  0.583333
Pratham   60     30   40  0.666667
Pravera   60     30   60  1.000000

In [58]:
students_d.ix[:3, 'T_m':'score']

AttributeError: 'DataFrame' object has no attribute 'ix'

In [59]:
students_d.loc[students_d['O_m'] > 30, ['Min_m', 'O_m']]

         Min_m  O_m
Pranam      30   35
Pratham     30   40
Pravera     30   60
Prabu       30   55

In [60]:
print(students_d)
students_d.iloc[0, 3] = 30

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   25  0.416667       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5

In [61]:
students_d['score'] = students_d['O_m'] / students_d['T_m']
print(students_d)

             Sub  T_m  Min_m  O_m     score  mp_score
Pruthvi  Kannada   60     30   30  0.500000       0.5
Pranam     Hindi   60     30   35  0.583333       0.5
Pratham  English   60     30   40  0.666667       0.5
Pravera    Maths   60     30   60  1.000000       0.5
Prabu    Science   60     30   55  0.916667       0.5