# How To Construct The Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool | None' = None,
    fastpath: 'bool | lib.NoDefault' = <no_default>,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\users\abbas\miniconda3\envs\hugging_face\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

In [3]:
list = [1.0, 2.0, 0.3, 0.4, 0.5, 0.6]

In [4]:
ser_list = pd.Series(list)
ser_list

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [5]:
pd.Series([1.0, 2.0, 0.3, 0.4, 0.5, 0.6])

0    1.0
1    2.0
2    0.3
3    0.4
4    0.5
5    0.6
dtype: float64

In [6]:
dic = {1:'A', 2:'B', 3:'C', 1:'D', 4:'E', 6:'F'}

In [7]:
ser_dic = pd.Series(dic)
ser_dic

1    D
2    B
3    C
4    E
6    F
dtype: object

In [8]:
ser_scalar = pd.Series(5, index=[1, 2, 3, 4, 5])
ser_scalar

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [9]:
ser_index = pd.Series({1:'A', 2:'B', 3:'C', 1:'D', 4:'E', 6:'F'}, index=[1, 2, 3])
ser_index

1    D
2    B
3    C
dtype: object

In [10]:
ser_csv = pd.read_csv('./data/Marks_list.csv')
ser_csv

  Student_Name   Sub1   Sub2   Sub3   Sub4   Sub5   Sub6
0     Student1     25     10     10     15     15     16
1     Student2     23     15     15     15     15     17
2     Student3     21     11     12     16     15     19
3     Student4     22     12     15     12     18     15
4     Student5     21     15     16     16     17     18
5     Student6     20     18     17     18     16     17
6     Student7     20     19     18     13     17     19
7     Student8     22     20     15     17     18     20
8     Student9     21     22     14     18     16     23
9    Student10     15     20     15     19     17     25

In [11]:
ser_csv['Student_Name']

0     Student1
1     Student2
2     Student3
3     Student4
4     Student5
5     Student6
6     Student7
7     Student8
8     Student9
9    Student10
Name: Student_Name, dtype: object

In [12]:
print(type(ser_csv))
print(type(ser_csv['Student_Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>