In [8]:
import random

random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]
import pandas as pd
df=pd.DataFrame(salaries)


### mean

In [9]:

df.mean()

0    585690.0
dtype: float64

### median

In [3]:
df.median()

0    589000.0
dtype: float64

### mode

In [4]:
df.mode()

          0
0  477000.0

### sample variance

In [5]:
df.var()

0    7.066405e+10
dtype: float64

### sample standard deviation

In [6]:
df.std()

0    265827.113825
dtype: float64

### interquartile range

In [7]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IR=Q3-Q1
IR

0    413250.0
dtype: float64