# **Basics of python**

Auther: Tassawar Abbas\
Email: abbas829@gmail.com\
Kaggle: https://www.kaggle.com/abbas829\
gitub: https://www.github.com/abbas829

# **1.Variable Naming**

| Rule                                                | Description                                                                                                   |
|-----------------------------------------------------|---------------------------------------------------------------------------------------------------------------|
| Must start with a letter or underscore (_)        | Variable names can begin with a letter (a-z, A-Z) or an underscore (_), but not with a digit or special character. |
| Can contain letters, digits, and underscores (_)   | Subsequent characters in variable names can be letters (a-z, A-Z), digits (0-9), or underscores (_).           |
| Case-sensitive                                     | Python is case-sensitive, so variable names like 'variable', 'Variable', and 'VARIABLE' are distinct.         |
| Cannot be a reserved keyword                       | Variable names cannot be the same as Python's reserved keywords, such as 'if', 'for', 'while', etc.           |
| Descriptive and meaningful                         | Variable names should accurately describe the data they hold or the role they play in the code.               |
| Use snake_case                                     | Follow the convention of using snake_case for variable names, where words are separated by underscores.        |
| Be consistent                                      | Maintain consistency in naming conventions throughout the codebase to improve readability.                    |
| Avoid single-letter or cryptic names              | Choose variable names that are clear and understandable, avoiding ambiguity or confusion.                     |
| Use intuitive abbreviations when appropriate       | It's acceptable to use common abbreviations if they enhance readability without sacrificing clarity.            |
| Constants should be in uppercase                  | Constants, whose values are not supposed to change, should be in uppercase with underscores separating words.  |

In [1]:
# Right Variable Declaration
num_students = 25

In [2]:
total_sales = 1000.50

In [3]:
student_name = "AI"

In [4]:
print("Hello world")

Hello world

# Understanding Variables as Containers in Python

In Python, variables act as containers that hold data values. Just like real-life containers, such as boxes or jars, variables store information that can be accessed and manipulated as needed throughout a program. Understanding how variables work as containers is fundamental to writing effective and efficient Python code.

## Declaring Variables

To create a variable in Python, you simply choose a name for the variable and assign it a value using the assignment operator (`=`). Here's an example:

```python
# Declaring variables
age = 25
name = "Alice"

In [5]:
# Print variable values
print( num_students)

25

In [6]:
print(total_sales)

1000.5

In [7]:
print(student_name)

AI

#Wrong Variables

In [ ]:
# Wrong Variable Declaration
2nd_student = "Alice"  # Invalid variable name starting with a number

SyntaxError: ignored

In [ ]:
total-sales = 500.75   # Invalid variable name with a hyphen

SyntaxError: ignored

In [ ]:
if = 10                # Invalid variable name using a reserved keyword

SyntaxError: ignored

In [ ]:
# Wrong Variable Declarations
print(2nd_student)
print(total-sales)    
print(if)

SyntaxError: ignored

# **2- Data types**

| Data Type  | Description                                                  | Example                    |
|------------|--------------------------------------------------------------|----------------------------|
| int        | Integer numbers                                              | `42`, `-10`, `0`           |
| float      | Floating-point numbers (decimal numbers)                     | `3.14`, `-0.001`, `2.0`    |
| str        | Strings (sequence of characters)                             | `"Hello"`, `'Python'`      |
| bool       | Boolean values (`True` or `False`)                           | `True`, `False`            |
| list       | Ordered collection of items (mutable)                        | `[1, 2, 3]`, `['a', 'b']`  |
| tuple      | Ordered collection of items (immutable)                      | `(1, 2, 3)`, `('a', 'b')`  |
| dict       | Collection of key-value pairs (dictionary)                   | `{'name': 'Alice', 'age': 30}` |
| set        | Unordered collection of unique items (mutable)               | `{1, 2, 3}`, `{'a', 'b'}`  |
| None       | Represents absence of a value                                | `None`                     |

In [8]:
num = 23

In [12]:
type(num)

int

In [13]:
name = "Tassawar Abbas"
type(name)

str

In [14]:
marks = 85.63
type(marks)

float

In [15]:
complex_number = 1+2j
type(complex_number)

complex

### Operators

| Category          | Operator     | Description                             | Example                |
|-------------------|--------------|-----------------------------------------|------------------------|
| Arithmetic        | `+`          | Addition                                | `5 + 3`                |
|                   | `-`          | Subtraction                             | `5 - 3`                |
|                   | `*`          | Multiplication                          | `5 * 3`                |
|                   | `/`          | Division                                | `5 / 3`                |
|                   | `//`         | Floor Division (integer division)       | `5 // 3`               |
|                   | `%`          | Modulus (remainder)                     | `5 % 3`                |
|                   | `**`         | Exponentiation                          | `5 ** 3`               |
| Comparison        | `==`         | Equal to                                | `5 == 3`               |
|                   | `!=`         | Not equal to                            | `5 != 3`               |
|                   | `<`          | Less than                               | `5 < 3`                |
|                   | `>`          | Greater than                            | `5 > 3`                |
|                   | `<=`         | Less than or equal to                   | `5 <= 3`               |
|                   | `>=`         | Greater than or equal to                | `5 >= 3`               |
| Logical           | `and`        | Logical AND                             | `True and False`       |
|                   | `or`         | Logical OR                              | `True or False`        |
|                   | `not`        | Logical NOT                             | `not True`             |
| Membership        | `in`         | Membership (check if item is in a sequence) | `5 in [1, 2, 3]`    |
|                   | `not in`     | Negative Membership (check if item is not in a sequence) | `5 not in [1, 2, 3]` |
| Identity          | `is`         | Identity (check if two objects are the same) | `x is y`            |
|                   | `is not`     | Negative Identity (check if two objects are not the same) | `x is not y`    |
| Assignment        | `=`          | Assignment                              | `x = 5`                |
|                   | `+=`         | Add and assign                          | `x += 5`               |
|                   | `-=`         | Subtract and assign                     | `x -= 5`               |
|                   | `*=`         | Multiply and assign                     | `x *= 5`               |
|                   | `/=`         | Divide and assign                       | `x /= 5`               |
|                   | `//=`        | Floor divide and assign                 | `x //= 5`              |
|                   | `%=`         | Modulus and assign                      | `x %= 5`               |
|                   | `**=`        | Exponentiate and assign                 | `x **= 5`              |
|                   | `:=`         | Walrus Operator (Assignment Expression) | `x := 5`               |
| Bitwise           | `&`          | Bitwise AND                             | `5 & 3`                |
|                   | `|`          | Bitwise OR                              | `5 | 3`                |
|                   | `^`          | Bitwise XOR                             | `5 ^ 3`                |
|                   | `~`          | Bitwise NOT (complement)                | `~5`                   |
|                   | `<<`         | Left shift                              | `5 << 2`               |
|                   | `>>`         | Right shift                             | `5 >> 2`               |

In [16]:
# Multiply two numbers
print(3*4)

12

In [17]:
# Display calculate square of number
print(3**2)

9

In [18]:
# Calculate the Remainder 
print(16%5)

1

In [19]:
# Divide two numbers
a = 5.0/10.0
a

0.5

In [20]:
# Calculate the Quotient of two numbers
b= 11//4
b

2

### Adding two integers

In [21]:
num1 = 5
num2 = 2
sum = num1 + num2
print(sum)

7

### simple program to calculate the area of Rectangle
area of rectangle = length * height

In [22]:
# Simple program to calculate the area of rectangle

length = 2.5
height = 3.5
area = length * height
print(area)

8.75


---

***